
		<div class="top container-fluid">
			<div class="center-width row transition">
				<div class="left secondary text">
					<div class="text-container">
						The world’s largest resource for data centers,
						customers, vendors and those seeking employment.
					</div>
				</div>
				<div class="right transition">
					<img src="images/data-center.png">
					<div class="count larger-scr">4,347</div>
					<div class="data-centers secondary text larger-scr">
						Data<br>Centers
					</div>
					<div class="count-data-centers smaller-scr">
						<div class="count">4,347</div>
						<div class="data-centers secondary text">
							Data Centers
						</div>
					</div>
				</div>
			</div>
		</div>