	
	<div class="footer-container container-fluid transition">
		<div class="center-width transition">
			<div class="upper columns-center">
				<div class="rt-container columns-center-center">
					<div class="blue-box columns-center-center">
						<div class="text-container">Resources & Tools</div>
					</div>
					<div class="triangles"></div>
				</div>
			</div>
			<div class="lower">
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/colocation.png">
						<img class="option-img white" src="images/icons/colocation-white.png">
						<div class="option-title">Colocation <br> Calculator</div>
					</div>
				</div>
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/offers.png">
						<img class="option-img white" src="images/icons/offers-white.png">
						<div class="option-title">Special Offers <br> & Discounts!</div>
					</div>
				</div>
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/consulting.png">
						<img class="option-img white" src="images/icons/consulting-white.png">
						<div class="option-title">Consulting and <br> Network Design</div>
					</div>
				</div>
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/contact.png">
						<img class="option-img white" src="images/icons/contact-white.png">
						<div class="option-title">Contact Us <br> Today!</div>
					</div>
				</div>
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/buy.png">
						<img class="option-img white" src="images/icons/buy-white.png">
						<div class="option-title">Buy Cloud <br> Servers Online!</div>
					</div>
				</div>
				<div class="option-container six-columns">
					<div class="footer-option columns-center-center transition">
						<img class="option-img black" src="images/icons/online.png">
						<img class="option-img white" src="images/icons/online-white.png">
						<div class="option-title">Online File Storage, <br> Backup and DR</div>
					</div>
				</div>
			</div>
		</div>
	</div>