			
			.body.container-fluid {
				height: 396px;
				margin: 75px 0 82px;
			}
			.body .col-md-3 {
				height: 100%;
				padding: 0 10px;
			}
			.body .col-sm-6 {
				height: 100%;
				padding: 0 10px;
				margin-bottom: 20px;
			}
			.body .col-xs-12 {
				height: 100%;
				padding: 0 10px;
				margin-bottom: 20px;
			}

			.visible-sm {
				display: none;
			}
			.visible-xs {
				display: none;
			}

			.columns-container {
				float: left;
			}

			@media all and (min-width: 768px) and (max-width: 991px) {
				.visible-sm {
					display: block;
				}
				.visible-md,
				.visible-lg {
					display: none;
				}
			}

			@media all and (max-width: 767px) {
				.visible-sx {
					display: block;
				}
				.visible-md,
				.visible-lg {
					display: none;
				}
			}

			@media all and (max-width: 500px) {
				.body.container-fluid {
					margin: 30px 0;
				}
			}