
			.footer-container {
				height: 178px;
				float: left;
				clear: both;
			}
			.footer-container .center-width {
				height: 100%;
				background-color: #C6C6C6;
				box-shadow: inset 0 2px 2px rgba(0,0,0,.25);
			}

			.footer-container .upper {
				width: 100%;
			}
			.footer-container .upper .rt-container {
				margin-top: -36px;
			}
			.rt-container .blue-box {
				width: 259px;
				height: 60px;
				background-color: #2F539B;
				z-index: 2;
			}
			.rt-container .blue-box .text-container {
				font-size: 30px;
				color: white;
			}

			.triangles {
				width: 258px;
				height: 0;
				margin-top: -24px;
				z-index: 1;

				border-left: 24px solid transparent;
				border-right: 24px solid transparent;
				border-top: 24px solid #1E355F;
			}


			.lower {
				width: 100%;
				height: 154px;
				padding: 10px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.option-container {
				height: 134px;
				padding: 0 10px;
			}
			.footer-option {
				width: 100%;
				height: 100%;
				border-radius: 100%;
				float: left;
				padding: 10px;
				cursor: pointer;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.footer-option:hover {
				border-radius: 2px;
				background-color: #2F539B;
			}
			.footer-option img {
				margin: 10px 0 20px;
			}
			.footer-option:not(:hover) img.white {
				display: none;
			}
			.footer-option:hover img.white {
				display: block;
			}
			.footer-option img.black {
				display: block;
			}
			.footer-option:hover img.black {
				display: none;
			}

			.footer-option .option-title {
				color: #5E5E5E;
				font-size: 14px;
				text-align: center;
			}
			.footer-option:hover .option-title {
				color: white;
			}

			@media (min-width: 490px) and (max-width: 999px) {
				.footer-container {
					height: 346px;
					margin-top: 82px;
				}
				.option-container {
					height: 154px;
					padding: 5px;
				}
			}

			@media (max-width: 489px) {
				.footer-container {
					height: 110px;
					margin-top: 82px;
				}
				.footer-container .center-width .lower {
					height: 76px;
				}
				.option-container {
					height: calc( (100vw - 20px) / 6 - 15px );
					margin-top: 10px;
					padding: 0 5px;
				}
				.footer-option .option-title {
					display: none;
				}

				.footer-option img {
					width: 30px;
					height: 25px;
					margin: 0;
					fill-color: grey;
				}
			}